/*版心*/


/* 声明字体图标 这里一定要注意路径的变化 */

@font-face {
    font-family: 'icomoon';
    src: url('../fonts/icomoon.eot?tomleg');
    src: url('../fonts/icomoon.eot?tomleg#iefix') format('embedded-opentype'), url('../fonts/icomoon.ttf?tomleg') format('truetype'), url('../fonts/icomoon.woff?tomleg') format('woff'), url('../fonts/icomoon.svg?tomleg#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

.w {
    width: 1200px;
    margin: 0 auto;
}


/*布局 自身 文本 其他*/

.style_red {
    color: #c81623;
}


/*快捷导航模块*/

.shortcut {
    height: 31px;
    /* line-height 会继承 */
    line-height: 31px;
    background: #f1f1f1;
}

.fl {
    float: left;
}

.fr {
    float: right;
}


/* short cut */

.shortcut li {
    float: left;
}

.shortcut .fr li:nth-child(2n) {
    height: 12px;
    width: 1px;
    background: #666666;
    margin: 9px 14px 0 14px;
}

.arrow-icon::after {
    content: '\e91e';
    font-family: 'icomoon';
    margin-left: 10px;
}


/* 8:49 */


/* 头部制作 */

.header {
    position: relative;
    height: 105px;
}

.logo {
    position: absolute;
    top: 24px;
    width: 171px;
    height: 56px;
}

.logo-pic {
    display: block;
    width: 171px;
    height: 56px;
    background: url(../images/logo.png) no-repeat center;
    text-indent: -99999px;
    overflow: hidden;
}

.search {
    position: absolute;
    left: 347px;
    top: 25px;
    width: 538px;
    height: 36px;
    border: 2px solid #b1191a;
}

.search input {
    float: left;
    width: 454px;
    height: 32px;
    padding-left: 10px;
}

.search button {
    float: left;
    width: 80px;
    height: 32px;
}

.search button {
    width: 80px;
    height: 32px;
    background: #b1191a;
    color: #fff;
}

.hotwords {
    position: absolute;
    top: 69px;
    left: 356px;
}

.hotwords a {
    margin: 0 10px;
}

.shopcart {
    position: absolute;
    top: 25px;
    left: 993px;
    width: 140px;
    height: 36px;
    border: 1px solid #dfdfdf;
    line-height: 36px;
    text-align: center;
}

.shopcart::before {
    content: '\e93a';
    font-family: 'icomoon';
    margin-right: 7px;
}

.shopcart::after {
    content: '\e920';
    font-family: 'icomoon';
    margin-left: 14px;
}

.count {
    position: absolute;
    left: 105px;
    bottom: 26px;
    padding: 0 5px;
    height: 14px;
    line-height: 14px;
    border-radius: 7px 7px 7px 0;
    background: #c81623;
    color: #fff;
}


/* 导航 */

nav {
    border-bottom: 2px solid #c81623;
    height: 47px;
}

.dropdown {
    float: left;
    width: 209px;
    height: 45px;
    background: #c81623;
}

.nav-item {
    float: left;
}

nav dt {
    width: 100%;
    height: 100%;
    line-height: 45px;
    background: #c81623;
    font-size: 16px;
    text-align: center;
    color: #fff;
}

nav dd {
    display: none;
    width: 100%;
    height: 466px;
    background: #c81623;
}

.dropdown dd li {
    position: relative;
    height: 31px;
    line-height: 31px;
    margin-left: 2px;
    padding-left: 13px;
    color: #fff;
    cursor: pointer;
}

.dropdown dd li:hover {
    background: #fff;
}

.dropdown dd li:hover a {
    color: #c81623;
}

.dropdown dd li a {
    font-size: 14px;
    color: #fff;
}

.dropdown dd li::after {
    font-family: 'icomoon';
    content: '\e920';
    position: absolute;
    right: 11px;
    top: 0;
    width: 5px;
    height: 9px;
    font-size: 9px;
    color: #fff;
}


/* nav */

.nav-item ul li {
    float: left;
}

.nav-item ul li a {
    display: block;
    padding: 0 23.5px;
    height: 47px;
    line-height: 47px;
    font-size: 16px;
}

.servers ul>li {
    width: 240px;
}